{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url( 'img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">FAQ</h2>
          <!-- <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">FAQ</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- FAQ Start -->
<div class="faq section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-faq text-center">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
        <!-- accordion start -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  How to buy something on Newlevels?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body">
                <p>
                  1. Search for the item
                  <br>
                  Use a search panel with filters and find what you need. We have over a million adverts, so you can choose exactly what you are looking for.
                   </p>
                <br>
                <p>
                  2. Contact a seller
                  <br>
                  You may call a seller via phone and set up a meeting face to face, discuss some details or negotiate about the price.
                </p>
                <br>
                <p>  
                  3. Take your item or order a delivery
                  <br>
                  We check our sellers carefully, but it's always better to check twice, right? Meet with the seller in a public place and be sure to pay only after you get the item.
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Who shouldi to contact if i Have any question?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute. non cupidatat skateboard dolor brunch. Foosd truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt alqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim ke ffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                  ea proident.
                </p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur sit amet ante nec
                  vulputate. Nulla aliquam, justo auctor consequat tincidunt, arcu erat mattis lorem, lacinia lacinia
                  dui enim at eros. Pellentesque ut gravida augue. Duis ac dictum tellus </p>
              </div>
            </div>
          </div> -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  What can I do to sell better?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  1.Pay attention to details
                  <br>
                  Take relevant pictures of your goods, write a clear, detailed description and fill out all the fields in your profile. These will help your customers learn more about you and your product.
                </p>
                <p>
                  2.Make your advert as risk-free as possible
                  <br>
                  Remember that people are afraid of sending prepayments so we strongly recommend not to request them. Find a way to collaborate with delivery services that allow buyers to pay after they inspect the product and make sure it's what they want.
                </p>
                <p>
                  3.Stay in touch
                  <br>
                  Don't make potential buyers wait for your replies too long. Instead, be online or use Boost Packages to always get SMS notifications on new messages
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  How can I sell on Newlevels?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Post your ads on Newlevels effortlessly by following the steps below:
                </p>
                <br>
                <p>
                  1. Sign in to your profile on Newlevels;
                  <br>
                  2. Click on the button "Post An Ad";
                  <br>
                  3. Complete all the information. Choose a proper category, upload the photos of your item, and write a clear title with a detailed description of what you're selling. After that, enter a fair price and double-check the information you've entered;
                  <br>
                  4. If everything looks fine, click on the "Post Ad" button;
                  <br>
                  As soon as you're done with all these steps, your ad goes for a review. We check it to ensure that it's in line with our rules and that all the information is correct. Once your advert is live, you will receive a notification email. If there's something wrong, we'll specify all the edits you should make.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  I've posted my ad but I can't find it on Newlevels. Why?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  At first, don't worry! If you've faced such a situation, we recommend:
                  <hr>  
                  Wait a bit while your ad is under review. It's quite possible that our moderators are checking your advert and it will appear in search results within a few hours.
                  <br>
                  Check your inbox. You will receive a notification when your advert goes live. If there is something you should edit, we'll specify that as well.
                  <br>
                  Important! If you make some changes to your advert, it will go for review again. It won't be shown in search results while we're checking it.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  Tips for creating an effective ad
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Use a clear title which includes the name of the item you sell. Try to make your title appealing and eye-catching.
                </p>
                <br>
                <p>
                  Set an appropriate price for your item so that the advert is approved. If the price is not relevant, it may be declined. Make sure to carry out some investigation of the prices for a particular item.
                  <br>
                  The description of your product must be informative enough and mustn’t contain any false information regarding your product or service.
                  <br>
                  Upload only unique and high-quality photos of your items taken by yourself and not downloaded from the Internet. The better photos you add, the more attractive your ad looks to the potential buyers and the more calls you receive.
                  <br>
                  Indicate correct contact details for the potential buyers/clients to be able to reach you easily. Try to respond all the incoming calls or to call back your customers once available.
                  <br>
                  Try to fill out all the fields of your profile page, as well as those of your advert, to let your customers dispose of all the necessary information about you as a seller and the products you sell.
                  The better rating you have on our website, the more chances you get to attract a lot of buyers. Remember that it is important to build trust in your business. Your rating depends on the number of positive/negative feedback received from your previous customers.
                  <br>
                  Make your advert as risk-free as possible. Underline that no prepayments are required and be ready to list those delivery services which presuppose payment on the delivery of the product ordered
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- accordion End -->
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock content %}